
curso-matplotlib-preparando_ambiente/.ipynb_checkpoints/Curso_matplotlib-checkpoint.ipynb
curso-matplotlib-preparando_ambiente/Curso_matplotlib.ipynb
curso-matplotlib-preparando_ambiente/histograma_iv.png
